# Creating a String

In [1]:
# Single word
'hello'

'hello'

In [2]:
# Entire phrase 
'This is also a string'

'This is also a string'

In [3]:
# We can also use double quote
"String built with double quotes"

'String built with double quotes'

In [4]:
# Be careful with quotes! Because there are 3 single quotes in the same line 
' I'm using single quotes, but this will create an error'

SyntaxError: invalid syntax (<ipython-input-4-69caab4bd19c>, line 2)

In [5]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

In [6]:
# Note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

'Hello World 2'

**We can use a print statement to print a string.**

In [7]:
print('Hello World 1')
print('Hello World 2')
print('Use \n to print a new line')
print('\n')
print('See what I mean?')

Hello World 1
Hello World 2
Use
 to print a new line


See what I mean?

# Basics

In [9]:
#Gives length of string
len('Hello World Hi I am Ayan')

24

# String Indexing

In [10]:
# Assign s as a string
s = 'Hello World'

In [12]:
s

'Hello World'

In [13]:
# Print the object
print(s)

Hello World

In [14]:
# Show first element (in this case a letter)
s[0]

'H'

In [15]:
s[1]

'e'

In [16]:
s[2]

'l'

In [17]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [18]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

In [19]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [20]:
# We can use this to print a string backwards
s[::-1]

'dlroW olleH'

In [21]:
# Note that there is no change to the original s
s

'Hello World'

In [22]:
# Concatenate strings!
s= s + ' concatenate me!'

In [24]:
s

'Hello World concatenate me!'

We can use the multiplication symbol to create repetition!

In [25]:
letter = 'z'

In [26]:
letter*10

'zzzzzzzzzz'

In [27]:
# Upper Case a string
s.upper()

'HELLO WORLD CONCATENATE ME!'

In [28]:
# Lower case
s.lower()

'hello world concatenate me!'

In [ ]:
str = "python"
print (str[-3:-5])